@font-face {
    font-family: "akkurat";
    src: url(./font/Akkurat-Normal.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: "akkurat-regular";
    src: url(./font/Akkurat-Regular.otf) format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: "akkurat-bold";
    src: url(./font/Akkurat-Bold.otf) format('opentype');
    font-weight: bold;
}@font-face {
    font-family: "penumbra-half-serif";
    src: url(./font/PENUMBRA-HALFSERIF-STD.TTF) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "penumbra-half-serif";
    src: url(./font/PENUMBRA-HALFSERIF-STD-BOLD.TTF) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "penumbra-half-serif-semibold";
    src: url(./font/PENUMBRA-HALFSERIF-STD-SEMIBOLD.TTF) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: "penumbra-half-serif-light";
    src: url(./font/PENUMBRA-HALFSERIF-STD-LIGHT.TTF) format('truetype');
    font-weight: normal;
}

/*COLOR*/
html, body {
  height: 100%; }

body {
  font-family: "akkurat-regular";
  color: #313131;
  font-size: 1rem; }

.bg-darker {
  background-color: #313131; }

.bg-gray {
  background-color: #ebebeb; }

.bg-ea-gray {
  background-color: #eaeaea; }

.bg-wild-sand {
  background-color: #f5f5f5; }

.bg-wild-sand-light {
  background-color: #f7f7f7; }

.bg-red {
  background-color: #e61212; }

.bg-dark-yellow {
  background-color: #ffca29; }

.content-wrapper {
  padding: 25px 0px; }

.font-secondary {
  font-family: "akkurat"; }

h1, h2, h3 {
  font-family: "penumbra-half-serif-semibold";
  color: #666666; }
  h1.primary, h2.primary, h3.primary {
    color: #e61212; }

h4, h5, h6 {
  font-family: "Akkurat";
  font-weight: bold; }
  h4.primary, h5.primary, h6.primary {
    color: #e61212; }

.p-styling p {
  text-align: justify; }

.paragraph-Text {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left; }

.caption {
  font-size: 12px;
  color: #6e6f71; }

.text-gray {
  color: #6e6f71; }

.text-opacity {
  opacity: 0.5;
  color: #313131; }

.text-bold {
  font-weight: bold; }

.text-normal {
  font-size: 12px; }

.text-small {
  font-size: 12px;
  color: #313131;
  opacity: 0.7; }

.date-time {
  font-size: 13px; }

.badge-main {
  color: #fff;
  background: #e61212; }

.tempo-main-color {
  color: #e61212; }

a {
  font-family: "Akkurat";
  color: #e61212; }

a:hover {
  color: #cc1717;
  text-decoration: none; }

a.text-Link {
  font-family: "Akkurat";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e61212; }

a.disabled {
  color: #313131;
  cursor: none; }

.icon-helper {
  max-width: 15px; }

.icon-color {
  color: #e61212; }

.icon-main {
  color: #e61212;
  font-size: 16px !important; }

.icon-gray {
  color: #666666;
  font-size: 16px !important; }

.calender-ti-icon {
  background: url(./img/icon-calendar.png) no-repeat; }

.clock-ti-icon {
  background: url(./img/icon-time.png) no-repeat; }

.opacity-disabled {
  opacity: 0.3; }

.opacity08 {
  opacity: 0.8; }

/* IMAGE */
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.circle-pic {
  padding: 20px 21px;
  border: solid 0.5px #a9a9a9;
  width: 34px;
  border-radius: 50%; }

.quote-background {
  background: url(./font/quote.svg) no-repeat;
  background-position: top left;
  min-height: 80px; }

/* TI PANEL */
.ti-panel-white {
  background: #fff;
  border: solid 0.5px #d7d7d7; }

.ti-panel-dark {
  background-color: #313131;
  color: #fff; }
  .ti-panel-dark a {
    color: #fff; }

.ti-panel-transparent .head {
  border-bottom: solid 0.5px #d7d7d7; }

.trainer .summary {
  border-bottom: solid 1px #d8d8d8; }
  .trainer .summary img {
    width: 88px; }
  .trainer .summary .social span.square {
    padding: 3px;
    background-color: #d8d8d8;
    color: white;
    border-radius: 5px;
    margin-right: 10px; }
    .trainer .summary .social span.square svg {
      width: 22px; }
  .trainer .summary .other {
    text-align: center; }
    .trainer .summary .other span.square {
      padding: 7px;
      background-color: #d8d8d8;
      color: white;
      position: relative;
      display: inline-block; }
    .trainer .summary .other svg {
      width: 26px; }
    .trainer .summary .other .number {
      float: left;
      width: 100%;
      font-size: 21px; }
    .trainer .summary .other .name {
      font-size: 11px;
      color: #313131;
      opacity: 0.7; }

.trainer .description {
  border-bottom: solid 1px #d8d8d8; }

/* ACCORDION */
.card.ti-panel-white {
  border-radius: 0;
  margin-bottom: 20px; }
  .card.ti-panel-white .card-header {
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.125); }
    .card.ti-panel-white .card-header .collapsed {
      padding: 0;
      background-color: #fff; }
    .card.ti-panel-white .card-header .icon-main {
      font-size: 20px !important; }
  .card.ti-panel-white .discussion .card-body {
    padding: 0; }
    .card.ti-panel-white .discussion .card-body .list-group .list-group-item {
      border-radius: 0;
      color: #313131; }
    .card.ti-panel-white .discussion .card-body .list-group .active {
      background-color: #313131;
      border: none; }
    .card.ti-panel-white .discussion .card-body .list-group .list-group-item:hover {
      background-color: #313131;
      border: none;
      color: #fff; }

/* RATING */
.rating .stars {
  font-size: 20px; }
  .rating .stars .active {
    color: #f8d42c; }
  .rating .stars .inactive {
    color: #dddddd; }

/* BOX OVERLAY */
.box-overlay {
  background-color: rgba(230, 18, 18, 0.9);
  position: absolute;
  display: block;
  opacity: 0;
  transition: opacity .15s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.box-overlay:hover {
  opacity: 1; }

/*CARD LIST*/
.card-list .card-image .card-category {
  background: url(./img/label-bg.png) no-repeat;
  background-size: cover;
  color: #fff;
  font-family: Akkurat;
  height: 25px;
  text-align: center;
  padding-top: 3px;
  letter-spacing: 3px; }

.card-list .card-image .img-cover {
  object-fit: cover; }

.card-list .card-info {
  background: #F5F5F5 url(./img/bg-kursus.png) no-repeat;
  background-position: right top;
  background-clip: border-box;
  background-size: 1100px;
  padding: 15px; }
  .card-list .card-info h3 {
    font-family: Akkurat;
    font-weight: bold;
    color: #313131;
    font-size: 18px; }
  .card-list .card-info span.category {
    text-transform: uppercase;
    color: #e61212;
    font-size: 10px; }
  .card-list .card-info .card-action {
    position: relative; }
    .card-list .card-info .card-action a.text-link {
      position: absolute;
      width: 90px;
      right: 30px; }
    .card-list .card-info .card-action a.button-link {
      position: absolute;
      right: -15px;
      top: -8px; }

/* PROGRESS BAR */
.progress-container {
  display: flow-root;
  position: relative !important; }

.progress {
  border-radius: 0;
  height: 17px;
  width: 75%;
  float: left;
  margin-right: 1rem;
  margin-bottom: 4px; }
  .progress .progress-bar {
    background-color: #e61212; }

/* CLASS PROGRESS */
.class-progress-bar {
  height: 10px;
  background: #e8e8e8;
  width: 80%; }
  .class-progress-bar .done {
    width: 45%;
    background-color: #e61212;
    height: inherit; }

.class-progress-circle {
  display: block; }
  .class-progress-circle ul {
    padding: 0; }
    .class-progress-circle ul li {
      border-radius: 50%;
      padding: 5px 9px;
      border: solid 2px #c2c2c2;
      display: inline;
      color: #c2c2c2;
      margin-left: 40px;
      font-size: 11px;
      background-color: #f5f5f5;
      position: relative; }
      .class-progress-circle ul li .date {
        position: absolute;
        width: 40px;
        top: 29px;
        left: -6px;
        color: #000;
        font-weight: bold; }
    .class-progress-circle ul li:first-child {
      margin-left: 0; }
    .class-progress-circle ul li:before {
      content: '';
      width: 44px;
      height: 2px;
      background-color: #c2c2c2;
      margin-top: 11px;
      margin-left: -53px;
      position: absolute;
      z-index: 100; }
    .class-progress-circle ul li:first-child:before {
      display: none; }
    .class-progress-circle ul li.done {
      border-color: #e61212;
      color: #e61212;
      padding: 5px 3px;
      position: relative;
      z-index: 1000 !important; }
      .class-progress-circle ul li.done .check-circle {
        border-radius: 50%;
        background-color: #e61212;
        color: white;
        font-size: 10px;
        padding: 3px 4px; }
        .class-progress-circle ul li.done .check-circle .check-done {
          position: relative;
          top: 1px;
          margin: auto; }
    .class-progress-circle ul li.done:before {
      background-color: #e61212;
      margin-left: -47px; }

/* TEXT */
.text-ti-main {
  color: #e61212 !important; }

/*NAVBAR*/
.custom-navbar {
  background: #fff;
  border-top: 4px solid #e61212;
  box-shadow: 0 0 5px 0 #ccc; }
  .custom-navbar .navbar-logo {
    height: 45px;
    object-fit: contain; }
  @media (max-width: 425px) {
    .custom-navbar .navbar-brand {
      margin-right: 60px; } }
  .custom-navbar .menu-user .dropdown-toggle:after {
    display: none; }
  .custom-navbar .menu-user .dropdown-menu {
    left: -77px;
    top: 51px; }
  .custom-navbar .sub-menu:hover {
    visibility: visible;
    opacity: 1;
    height: auto; }
  .custom-navbar .btn-header-search {
    background: #fff;
    border: none;
    color: #e61212; }
  .custom-navbar .user-icon {
    width: 50px;
    height: 50px;
    object-fit: cover; }

ul li.nav-item a.nav-link {
  font-size: 16px;
  text-align: left;
  color: #313131;
  font-family: "Akkurat";
  opacity: 0.8;
  padding: 5px 10px; }

ul li.nav-item a.nav-link:hover {
  color: #e61212; }

ul li.nav-item-has-child > a {
  pointer-events: none; }

ul li.nav-item-has-child > a:after {
  border-top: 4px dashed;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: '';
  margin-left: 6px;
  position: absolute;
  top: 18px;
  right: 31px; }

ul li.nav-item-has-child {
  position: relative; }

ul li.nav-item-has-child:hover > ul.sub-menu, ul li.nav-item-has-child:hover > ul.sub-menu > li.nav-item-has-child:hover > ul.sub-menu {
  visibility: visible;
  opacity: 1;
  height: auto !important; }

ul li ul li ul.sub-menu {
  top: -1px;
  left: calc(100% - 1px); }

ul ul.sub-menu {
  list-style: none;
  visibility: hidden;
  opacity: 0;
  height: 0px;
  position: static;
  top: 50px;
  border-top: 1px solid #ddd;
  min-width: 165px;
  padding-left: 15px;
  transition: visibility 200ms linear 300ms, opacity 500ms; }
  ul ul.sub-menu li.nav-item {
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #ededed;
    padding: 10px 15px; }
    ul ul.sub-menu li.nav-item a.nav-link {
      font-size: 13px; }

.custom-navbar-2 {
  padding-bottom: 0;
  background: #fff;
  box-shadow: 0 0 5px 0 #d7d7d7; }
  .custom-navbar-2 li.nav-item {
    padding-bottom: 10px; }
  .custom-navbar-2 li.active {
    border-bottom: 2px solid #e61212; }
  .custom-navbar-2 .nav-link {
    color: #313131; }
  .custom-navbar-2 .nav-link.active {
    color: #e61212 !important; }

/* SIDEBAR*/
#sidebarItem .user-login .name {
  font-family: "Akkurat";
  font-weight: bold;
  font-size: 18px;
  color: #e61212; }

#sidebarItem .user-login .job {
  font-family: "Akkurat";
  font-weight: normal;
  font-size: 13px;
  color: #666666; }

#sidebarItem svg {
  width: 20px; }

.navbar-toggler-sidebar {
  cursor: pointer; }

.sidebar-xs {
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: fixed;
  z-index: 12;
  height: 100%;
  width: 0;
  padding: 0;
  overflow: hidden;
  background-color: white; }
  .sidebar-xs .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  .sidebar-xs .header-menu li {
    border-bottom: 1px solid #ddd;
    list-style: none;
    font-size: 16px; }
    .sidebar-xs .header-menu li a {
      padding: 10px 15px;
      color: #313131;
      font-weight: bold;
      font-style: normal;
      opacity: 0.8;
      font-family: "akkurat";
      width: 100%;
      display: block; }

.sidebar-1 {
  background-color: #ebebeb;
  min-height: 1000px; }
  .sidebar-1 .nav .nav-header {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.5rem 1rem; }
  .sidebar-1 .nav .nav-item .nav-link {
    color: #666666; }
  .sidebar-1 .nav .nav-item .active {
    background-color: #e61212;
    color: #fff; }
  .sidebar-1 .nav .nav-item .nav-link:hover {
    background-color: #e61212;
    color: #fff; }

/*FOOTER*/
footer {
  background: #313131;
  min-height: 150px; }
  footer .navbar-logo {
    height: 45px;
    object-fit: contain; }
  footer ul .nav-item a.nav-link {
    font-size: 16px;
    text-align: left;
    color: #fff;
    font-family: "Akkurat";
    opacity: 0.8;
    padding: 5px 10px; }
  footer .child {
    display: inline-flex; }
    footer .child .social-box {
      color: #e61212;
      background: #fff;
      width: 30px;
      height: 30px;
      margin-left: 7px;
      text-align: center;
      border-radius: 2px;
      padding-top: 3px; }

.content-container {
  min-height: 1000px; }

/*USER DASHBOARD*/
.user-dashboard .menu-content .user {
  border-bottom: solid 1px #e2e2e2;
  padding-bottom: 15px; }
  .user-dashboard .menu-content .user img {
    object-fit: cover; }
  .user-dashboard .menu-content .user .name {
    font-family: "Akkurat";
    font-weight: bold;
    font-size: 18px;
    color: #e61212; }
  .user-dashboard .menu-content .user .job {
    font-family: "Akkurat";
    font-weight: normal;
    font-size: 13px;
    color: #666666; }

.user-dashboard .menu-content .menu svg {
  width: 20px; }

.user-dashboard .menu-content .menu ul.nav li.nav-item a.nav-link {
  color: #666666; }
  .user-dashboard .menu-content .menu ul.nav li.nav-item a.nav-link .point {
    position: absolute;
    top: 6px;
    left: 80px;
    border-radius: 12px;
    color: #666666; }

.user-dashboard .menu-content .menu ul.nav li.nav-item .active {
  color: #e61212 !important; }

.user-dashboard .main-content {
  border-left: solid 1px #d7d7d7; }
  .user-dashboard .main-content h1 {
    color: #e61212;
    font-weight: bold; }
  .user-dashboard .main-content .nav {
    border-bottom: solid 1px #d7d7d7; }
    .user-dashboard .main-content .nav .nav-item a.nav-link {
      color: #666666; }
    .user-dashboard .main-content .nav .active {
      color: #e61212 !important;
      border-bottom: solid 2px #e61212; }
  .user-dashboard .main-content .filter {
    background: #f5f5f5; }
    .user-dashboard .main-content .filter input {
      margin-left: 10px; }

.class-group h3 {
  font-size: 20px;
  color: #e61212;
  margin-top: 20px;
  font-family: "penumbra-half-serif-semibold"; }

.class-group .page-title {
  font-family: "penumbra-half-serif-semibold"; }

.class-group .bg-course-group {
  height: 162px; }

.class-group .btn-oncard-rightfly {
  object-fit: cover;
  position: absolute;
  right: -20px;
  top: -5px; }

.class-list .content-wrapper {
  padding: 25px 0; }

.class-list .main-content {
  background-color: #fff; }

.class-list .page-title {
  font-family: "penumbra-half-serif-semibold"; }

.class-list h3 {
  font-family: "Akkurat";
  font-weight: bold;
  color: #e61212;
  margin-bottom: 0; }

.class-list small {
  text-transform: uppercase; }

.class-list .courseInfo {
  font-size: 14px;
  font-family: "Akkurat";
  opacity: 0.8; }

.class-list .course-price-container {
  background: #F5F5F5 url(./img/bg-kursus.png) no-repeat;
  background-position: right;
  background-clip: border-box;
  background-size: cover; }
  .class-list .course-price-container .course-price {
    padding: 20px; }
    .class-list .course-price-container .course-price h4 {
      font-size: 18px; }

.class-list .card {
  min-height: 430px; }
  .class-list .card h6 {
    height: 48px; }
  .class-list .card .card-img-top {
    object-fit: cover;
    height: 250px; }

.class-detail .detail-title {
  text-align: center; }
  .class-detail .detail-title h1 {
    text-align: center;
    font-size: 2rem; }
  .class-detail .detail-title small {
    text-transform: uppercase;
    font-size: 14px;
    color: #ff0000; }

.class-detail .description {
  line-height: 18px;
  font-size: 14px; }

/*CART*/
.cart {
  padding-top: 30px; }
  .cart h1 {
    text-align: center;
    color: #e61212; }
  .cart a:hover {
    color: #fff; }
  .cart .cart-info {
    text-align: center; }
  .cart .card-list .card-image img {
    object-fit: cover;
    height: 140px; }
  .cart .card-list .card-info {
    min-height: 165px; }
    .cart .card-list .card-info .time {
      font-size: 11px; }
    .cart .card-list .card-info .others {
      font-size: 11px; }
      .cart .card-list .card-info .others ul {
        text-decoration: none;
        list-style: none;
        columns: 50px 2; }
        .cart .card-list .card-info .others ul li {
          color: #313131; }
          .cart .card-list .card-info .others ul li span {
            color: #e61212; }
    .cart .card-list .card-info .participant {
      background-color: #fff;
      position: relative; }
    .cart .card-list .card-info .subtotal {
      background-color: #313131;
      color: #fff !important; }
  .cart .delete-button {
    position: absolute;
    z-index: 1000;
    right: 30px;
    top: 10px;
    font-size: 10px; }

.cart-icon {
  position: relative;
  text-decoration: none; }
  .cart-icon span {
    background-color: #e61212;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    font-size: 8px;
    position: absolute;
    left: 10px;
    top: -9px; }

.cart-icon:hover {
  text-decoration: none; }

/*TICKET LIST*/
#ticketModal .ticket-container h4 {
  color: #313131; }

#ticketModal .ticket-container .card-list .card-info {
  height: 70px;
  padding: 10px;
  margin-left: 13px; }

/*REGISTER*/
/* MODAL */
.modal .modal-content {
  background: none;
  border: none; }

.modal .modal-header button.close {
  opacity: 1;
  padding: 5px; }

.modal .modal-body {
  background: #fff;
  padding: 25px; }
  .modal .modal-body .course-ticket-list .disabled-overlay {
    background-color: #fff;
    z-index: 1110;
    height: 100%;
    position: absolute;
    display: block;
    width: 100%;
    opacity: 0.5; }
  .modal .modal-body .course-ticket-list .image-side {
    background-color: #fafafa;
    padding: 20px 0;
    border: solid 1px #d7d7d7;
    position: relative; }
    .modal .modal-body .course-ticket-list .image-side .hover {
      background-color: rgba(230, 18, 18, 0.9);
      position: absolute;
      display: block;
      opacity: 0;
      transition: opacity .15s ease-in-out;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1100; }
      .modal .modal-body .course-ticket-list .image-side .hover button.btn-main-outline {
        margin-top: 20%;
        border: 1px solid #fff;
        width: 70%;
        min-width: 100px;
        color: #fff;
        background: transparent;
        display: block; }
    .modal .modal-body .course-ticket-list .image-side .hover:hover {
      opacity: 1; }
  .modal .modal-body .course-ticket-list .description-side h3, .modal .modal-body .course-ticket-list .description-side p {
    text-align: center; }

/* TABLE */
.table tr td {
  vertical-align: middle; }

.table-borderless {
  border: 1px solid rgba(186, 187, 189, 0.15); }
  .table-borderless tr td {
    border: none !important; }

.ti-table-striped thead tr td {
  border-top: none;
  padding: 1.25rem 1rem; }

.ti-table-striped tbody tr:nth-of-type(odd) {
  background-color: #fafafa; }

.ti-table-striped tbody tr td {
  padding: 1rem;
  border-top-color: #dcdcdc; }

/* LOADING */
.loading {
  display: none; }
  .loading img {
    display: block; }

.icon-success {
  font-size: 80px;
  color: #fff;
  margin-top: 17%;
  display: none; }

.icon-success.display {
  display: block !important; }

/* FOOTER */
.social-box {
  float: right;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  color: #e31328;
  margin-left: 7px;
  text-align: center;
  border-radius: 2px;
  padding-top: 3px; }
  @media (max-width: 425px) {
    .social-box {
      display: inline-block;
      float: none; } }

.brand-logo-footer-wrapper {
  text-align: center; }

@media (max-width: 425px) {
  .brand-logo-footer {
    width: 150px;
    margin-bottom: 15px; } }

#footer .footer-menu li {
  list-style: none;
  font-size: 16px; }

#footer .footer-menu li a {
  color: #fff;
  padding: 5px 10px; }
  @media (max-width: 1199px) {
    #footer .footer-menu li a {
      font-size: 14px; } }
  @media (max-width: 991px) {
    #footer .footer-menu li a {
      font-size: 10px; } }
  @media (max-width: 575px) {
    #footer .footer-menu li a {
      font-size: 14px; } }

@media (max-width: 576px) {
  #footer nav {
    width: 100%; } }

@media (max-width: 425px) {
  #footer .child {
    text-align: center; } }

/* SQUARE RESPONSIVE */
.square-responsive {
  position: relative;
  width: 100%;
  padding-bottom: 100%; }
  .square-responsive .square-content {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%; }
  .square-responsive .image-rounded {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 50%; }
  .square-responsive .image-square {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center; }

.circle-icon {
  background: #e61212;
  position: relative;
  padding: 3px 13px;
  border-radius: 50%; }
  .circle-icon .content {
    position: absolute;
    top: 7px;
    left: 9px;
    font-size: 11px;
    color: #fff; }

.circle-icon-border {
  border: solid 2px #c2c2c2;
  position: relative;
  padding: 0px 10px;
  border-radius: 50%; }
  .circle-icon-border .content {
    position: absolute;
    top: 7px;
    left: 9px;
    font-size: 11px; }

.square-icon {
  background: #e61212;
  padding: 8px;
  display: inline-flex; }
  .square-icon .content {
    font-size: 20px;
    color: #fff; }

/* SWEETALERT */
.swal-modal {
  border-radius: 0; }

.swal-button-container {
  width: 100%; }

.swal-button {
  width: 100%;
  border-radius: 0;
  background: #e61212;
  color: #fff;
  border-color: #e61212; }

.swal-button:hover {
  background: #ff0000; }

.swal-button:active {
  background: #cc1717;
  color: #fff; }

.swal-button:focus {
  box-shadow: none; }

.swal-button--cancel {
  background: #fff;
  color: #e61212;
  border-color: #e61212;
  border-radius: 0;
  border: solid 1px; }

.swal-button--cancel:hover {
  border-color: #ff0000; }

.swal-button--cancel:active {
  border-color: #cc1717;
  color: #cc1717; }

.swal-button--cancel:focus {
  box-shadow: none; }

.swal-ti-double-button .swal-button-container {
  width: 47%; }

.swal-ti-style1 .swal-title {
  color: #e61212; }

.swal-ti-style1 .swal-text {
  text-align: center; }

/* E-TICKET */
#e-ticket {
  min-height: 900px;
  background-color: #fafafa; }
  #e-ticket #ticket-container {
    background: white;
    box-shadow: 0 5px 4px 1px rgba(0, 0, 0, 0.05);
    border-radius: 12px; }
    #e-ticket #ticket-container #right-section {
      background: #df0f0f; }
      #e-ticket #ticket-container #right-section .box-white {
        background: white;
        width: 160px;
        height: 160px;
        padding: 7px;
        border-radius: 3px; }
      #e-ticket #ticket-container #right-section .small-text-dark-red {
        color: #851111;
        font-size: 10px; }
      #e-ticket #ticket-container #right-section .text-white {
        font-weight: bold;
        font-size: 15px; }
    #e-ticket #ticket-container .box-section {
      margin-bottom: 10px; }
      #e-ticket #ticket-container .box-section p {
        font-size: 13px;
        margin-bottom: 0; }

.btn-red {
  background-color: #e61212;
  color: white; }

.unread::before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 2px;
  border-radius: 100px;
  background-color: #e61212; }

.page-mine-shaft .page-link {
  background-color: #313131 !important;
  color: #666666 !important;
  opacity: 1 !important; }

.page-link {
  background-color: white;
  border: none;
  color: #666666;
  opacity: 0.5; }

.page-link:hover,
.page-link.active {
  background: white !important;
  border-radius: 5px;
  color: #e61212;
  border: none;
  opacity: 1 !important; }

.btn-white {
  background-color: white; }

.btn-red {
  background-color: #e61212; }

.text-mine-shaft {
  color: #313131; }

.no-border-radius {
  border-radius: 0 !important; }

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px; }

progress[value]::-webkit-progress-bar {
  background-color: #c2c2c2; }

progress[value]::-webkit-progress-value {
  background-color: #e61212; }

.border-capsule {
  padding: 10px 20px;
  height: auto; }

.border-bottom {
  border-bottom-width: 1px;
  border-bottom-style: solid; }

.border-left-2 {
  border-left-width: 2px !important; }

.no-border {
  border: 0 !important; }

.no-border-right {
  border-right: 0 !important; }

.no-border-left {
  border-left: 0 !important; }

.no-border-top {
  border-top: 0 !important; }

.no-border-bottom {
  border-bottom: 0 !important; }

.border {
  border-width: 1px;
  border-style: solid; }

.border-grey {
  border-color: #c2c2c2 !important; }

.border-left-red {
  border-left-color: #e61212 !important; }

.border-ea-gray {
  border-color: #eaeaea !important; }

.even {
  background-color: #f5f5f5; }

.odd {
  background-color: #eaeaea; }

.quoted {
  background-color: #fcfcfc; }

.quoted-title {
  background-color: #eaeaea; }

.ti-panel-white {
  border: none; }

.dropdown-menu.dropdown-right-offset {
  right: 0;
  left: auto; }

.menu_notification .notif-icon span {
  background-color: #e61212;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 8px;
  position: absolute;
  left: 10px;
  top: -9px; }

.notification_item.unread_notification {
  background-color: #dc3545;
  color: #fff; }
/*COLOR*/
.form-control {
  border-radius: 0; }

.form-control:focus {
  box-shadow: none; }

.form-group label {
  font-weight: bold; }

.form-group .custom-control-label {
  font-weight: normal; }

/* FORM GENERAL*/
.with-custom-label {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  margin-bottom: 0; }

.with-custom-label .custom-label {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
  padding-right: 0.75rem;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  border-radius: .25rem;
  opacity: 0.6; }

label.control-label {
  font-weight: bolder; }

/* CUSTOM RADIO */
.custom-radio, .custom-radio-inline {
  padding-left: 1.5rem; }
  .custom-radio .custom-control-label, .custom-radio-inline .custom-control-label {
    margin-right: 0.75rem; }
  .custom-radio .custom-control-label::before, .custom-radio-inline .custom-control-label::before {
    background-color: #fff;
    border: solid 1px #979797;
    top: 2px; }
  .custom-radio .custom-control-label::before, .custom-radio-inline .custom-control-label::before {
    top: 7px; }
  .custom-radio .custom-control-label::after, .custom-radio-inline .custom-control-label::after {
    top: 7px; }
  .custom-radio .custom-control-input:checked ~ .custom-control-label::before, .custom-radio-inline .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #e92c2c;
    border-color: #e92c2c;
    box-shadow: none; }

.custom-radio-inline {
  margin-right: 1.5rem; }

/* CUSTOM CHECKBOX */
.custom-checkbox .custom-control-label::before {
  background-color: #fff;
  border: solid 1px #979797;
  top: 2px;
  border-radius: 0; }

.custom-checkbox .custom-control-label::after {
  top: 2px; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #e92c2c;
  border-color: #e92c2c;
  box-shadow: none; }

.form-check input[type="checkbox"], .form-check input[type="radio"] {
  position: absolute;
  right: 9000px; }

.form-check label {
  cursor: pointer;
  color: #666; }

.form-check input[type="checkbox"] {
  content: "\F0C8";
  font-family: "Font Awesome 5 Free";
  font-weight: 400; }

.form-check input[type="checkbox"]:checked + .label-text:before {
  content: "\F14A";
  color: #2980b9;
  animation: effect 250ms ease-in;
  font-weight: 900; }

/*BUTTON*/
.btn-main {
  background: #e61212 !important;
  color: #fff;
  border-color: #e61212;
  border-radius: 0; }

.btn-main.disabled {
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important; }

.btn-main:hover {
  background: #ff0000; }

.btn-main:active {
  background: #cc1717;
  color: #fff; }

.btn-main:focus {
  box-shadow: none; }

.btn-main-outline {
  background: #fff;
  color: #e61212;
  border-color: #e61212;
  border-radius: 0;
  border: solid 1px; }

.btn-main-outline:hover {
  border-color: #ff0000; }

.btn-main-outline:active {
  border-color: #cc1717;
  color: #cc1717; }

.btn-main-outline:focus {
  box-shadow: none; }

.btn-collapsed {
  cursor: pointer; }

/*INPUT*/
@media (min-width: 768px) {
  #e-ticket #ticket-container #right-section {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px; } }

@media (min-width: 992px) {
  .class-list .course-price-container .course-price h4 {
    font-size: 1.5rem; }
  .class-detail .detail-title h1 {
    font-size: 2.5rem; }
  ul li.nav-item-has-child > a {
    pointer-events: visible; }
  ul li.nav-item-has-child > a:after {
    position: relative;
    top: 11px;
    right: auto; }
  ul li.nav-item-has-child {
    position: relative; }
  ul ul.sub-menu {
    position: absolute;
    border: 1px solid #ddd;
    padding: 0; } }
/*COLOR*/
.ti-icon {
  display: inline-block;
  height: 20px;
  vertical-align: text-top;
  margin-right: 3px;
  margin-top: -1px; }

.icon-kelas {
  content: url(./font/icon-kelas-inaktif.svg); }

.icon-transaction {
  content: url(./font/icon-transaksi-inaktif.svg);
  margin-left: -3px; }

.icon-notification {
  content: url(./font/icon-notifikasi-inaktif.svg); }

.icon-point {
  content: url(./font/icon-poin-inaktif.svg); }

/* Icon Active */
.active .icon-kelas {
  content: url(./font/icon-kelas-aktif.svg); }

.active .icon-transaction {
  content: url(./font/icon-transaksi-aktif.svg);
  margin-left: -3px; }

.active .icon-notification {
  content: url(./font/icon-notifikasi-aktif.svg); }

.active .icon-point {
  content: url(./font/icon-poin-aktif.svg); }
/*COLOR*/
.lesson-menu-sidebar {
  left: 0;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 12;
  overflow: hidden;
  position: fixed;
  height: 100%;
  background-color: #ebebeb; }
  .lesson-menu-sidebar .back-button {
    background-color: #ebebeb;
    color: #717171 !important;
    border: none;
    font-size: 30px;
    margin-top: 8px;
    border-radius: 0; }
  .lesson-menu-sidebar .back-button:active {
    color: #fff; }
  .lesson-menu-sidebar .back-button:active {
    box-shadow: none; }
  .lesson-menu-sidebar .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
    .lesson-menu-sidebar .nav li.nav-header {
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px; }
    .lesson-menu-sidebar .nav li.nav-item a.nav-link, .lesson-menu-sidebar .nav li.nav-item a.disabled {
      color: #161616;
      font-size: 15px; }
      .lesson-menu-sidebar .nav li.nav-item a.nav-link .icon, .lesson-menu-sidebar .nav li.nav-item a.disabled .icon {
        font-size: 9px; }
    .lesson-menu-sidebar .nav li.nav-item a.nav-link:hover {
      background-color: #e61212;
      color: #fff; }
    .lesson-menu-sidebar .nav li.nav-item a.nav-link.active {
      background-color: #e61212;
      color: #fff; }
    .lesson-menu-sidebar .nav li.nav-item a.disabled {
      color: #bcbcbc; }
  .lesson-menu-sidebar .header-menu li {
    list-style: none;
    font-size: 16px; }
    .lesson-menu-sidebar .header-menu li a {
      padding: 10px 15px;
      font-weight: bold;
      font-style: normal;
      opacity: 0.8;
      font-family: "akkurat";
      width: 100%;
      display: block; }

.top-lesson {
  margin-left: 365px; }
  .top-lesson .top-lesson-header {
    padding: 25px 0px;
    border-bottom: solid 1px #eaeaea;
    background: #fff; }
  .top-lesson .lesson-content {
    min-height: 1000px;
    background: #fafafa; }

.lesson-main-content .tab-content h1, .lesson-main-content .tab-content h2, .lesson-main-content .tab-content h3 {
  font-family: akkurat-regular;
  font-weight: bold; }

.lesson-main-content .tab-content h1 {
  font-size: 20px; }

.lesson-main-content .tab-content h2 {
  font-size: 16px; }

.lesson-main-content .tab-content h3 {
  font-size: 14px; }

.content .embeddedContent {
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #e2e2e2;
  padding: 3rem !important; }

.content .item {
  padding: 3rem 14rem 0rem 14rem;
  font-size: 22px; }
  @media (max-width: 1024px) {
    .content .item {
      padding: 3rem 9rem 0rem 9rem; } }
  @media (max-width: 768px) {
    .content .item {
      padding: 3rem 3rem 0rem 3rem;
      font-size: 16px; } }
  @media (max-width: 576px) {
    .content .item {
      padding: 3rem 3rem 0rem 3rem;
      font-size: 16px; } }

.embeddedContent iframe {
  width: 100%;
  height: 490px; }
  @media (max-width: 768px) {
    .embeddedContent iframe {
      height: 350px; } }
  @media (max-width: 765px) {
    .embeddedContent iframe {
      height: 200px; } }

.text-color-ea {
  color: #eaeaea; }

.menu-user-course {
  margin-top: -15px !important;
  margin-bottom: 10px !important; }

.transition {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.lesson-menu-sidebar-toggle {
  margin-left: -330px; }
  @media (max-width: 768px) {
    .lesson-menu-sidebar-toggle {
      margin-left: -400px; } }

@media (max-width: 765px) {
  .ml-m500 {
    margin-left: -500px; } }

.dropdown-menu-course {
  top: 10px !important;
  left: -40px !important; }
  @media (max-width: 768px) {
    .dropdown-menu-course {
      left: -40px !important; } }

@media (max-width: 425px) {
  .mx-xs-0 {
    margin-right: 0 !important;
    margin-left: 0 !important; } }

.char-active {
  border-right: 2px solid #df0f0f !important; }

.chat-detail {
  height: 430px; }

.chat-list {
  height: 441px; }

.select-transparent {
  background: transparent;
  border: none;
  color: white; }

blockquote {
  background-color: #fcfcfc;
  border: solid 1px #c2c2c2;
  border-left: solid #e61212 !important;
  padding: 21px;
  font-style: italic; }

table tr {
  line-height: 1; }
  table tr td {
    vertical-align: top; }

/* Hide youtube share button */
.ytp-chrome-top-buttons {
  display: none; }
/*!
 * Font Awesome Free 5.0.8 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
svg:not(:root).svg-inline--fa {
  overflow: visible; }

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em; }
  .svg-inline--fa.fa-lg {
    vertical-align: -.225em; }
  .svg-inline--fa.fa-w-1 {
    width: 0.0625em; }
  .svg-inline--fa.fa-w-2 {
    width: 0.125em; }
  .svg-inline--fa.fa-w-3 {
    width: 0.1875em; }
  .svg-inline--fa.fa-w-4 {
    width: 0.25em; }
  .svg-inline--fa.fa-w-5 {
    width: 0.3125em; }
  .svg-inline--fa.fa-w-6 {
    width: 0.375em; }
  .svg-inline--fa.fa-w-7 {
    width: 0.4375em; }
  .svg-inline--fa.fa-w-8 {
    width: 0.5em; }
  .svg-inline--fa.fa-w-9 {
    width: 0.5625em; }
  .svg-inline--fa.fa-w-10 {
    width: 0.625em; }
  .svg-inline--fa.fa-w-11 {
    width: 0.6875em; }
  .svg-inline--fa.fa-w-12 {
    width: 0.75em; }
  .svg-inline--fa.fa-w-13 {
    width: 0.8125em; }
  .svg-inline--fa.fa-w-14 {
    width: 0.875em; }
  .svg-inline--fa.fa-w-15 {
    width: 0.9375em; }
  .svg-inline--fa.fa-w-16 {
    width: 1em; }
  .svg-inline--fa.fa-w-17 {
    width: 1.0625em; }
  .svg-inline--fa.fa-w-18 {
    width: 1.125em; }
  .svg-inline--fa.fa-w-19 {
    width: 1.1875em; }
  .svg-inline--fa.fa-w-20 {
    width: 1.25em; }
  .svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto; }
  .svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto; }
  .svg-inline--fa.fa-border {
    height: 1.5em; }
  .svg-inline--fa.fa-li {
    width: 2em; }
  .svg-inline--fa.fa-fw {
    width: 1.25em; }

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.fa-layers {
  display: inline-block;
  height: 1em;
  position: relative;
  text-align: center;
  vertical-align: -.125em;
  width: 1em; }
  .fa-layers svg.svg-inline--fa {
    -webkit-transform-origin: center center;
            transform-origin: center center; }

.fa-layers-text, .fa-layers-counter {
  display: inline-block;
  position: absolute;
  text-align: center; }

.fa-layers-text {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center center;
          transform-origin: center center; }

.fa-layers-counter {
  background-color: #ff253a;
  border-radius: 1em;
  color: #fff;
  height: 1.5em;
  line-height: 1;
  max-width: 5em;
  min-width: 1.5em;
  overflow: hidden;
  padding: .25em;
  right: 0;
  text-overflow: ellipsis;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.fa-layers-bottom-right {
  bottom: 0;
  right: 0;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right; }

.fa-layers-bottom-left {
  bottom: 0;
  left: 0;
  right: auto;
  top: auto;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left; }

.fa-layers-top-right {
  right: 0;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.fa-layers-top-left {
  left: 0;
  right: auto;
  top: 0;
  -webkit-transform: scale(0.25);
          transform: scale(0.25);
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.fa-xs {
  font-size: .75em; }

.fa-sm {
  font-size: .875em; }

.fa-1x {
  font-size: 1em; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

.fa-fw {
  text-align: center;
  width: 1.25em; }

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
          animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
          animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1); }

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
          transform: scale(-1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
          filter: none; }

.fa-stack {
  display: inline-block;
  height: 2em;
  position: relative;
  width: 2em; }

.fa-stack-1x,
.fa-stack-2x {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0; }

.svg-inline--fa.fa-stack-1x {
  height: 1em;
  width: 1em; }

.svg-inline--fa.fa-stack-2x {
  height: 2em;
  width: 2em; }

.fa-inverse {
  color: #fff; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }
