@media (max-width: 765px) {
    #use-coupon-button {
        display: block;
    }

    .priceTotal{
    	margin-right: 0px!important;	
    }

}

tbody.invoice > tr > td {
	padding: 10px;
}

tfoot.invoice > tr > td {
	padding: 10px;
}

thead.invoice > tr > th {
	padding: 10px;
}